<mat-card>
    <mat-card-header>
      <mat-card-title>
        Course Outline
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <app-lessons-list [courseLessons]="courseLessons" (selected)="selectLesson($event)"></app-lessons-list>
    </mat-card-content>
  </mat-card>

  <mat-card>
      <mat-card-header>
          <mat-card-title>Debug</mat-card-title>
      </mat-card-header>
      <mat-card-content>
         <span *ngIf="currentLesson; else elseBlock">{{currentLesson | json}}</span> 
         <ng-template #elseBlock>Select a Lesson.</ng-template>
      </mat-card-content>
  </mat-card>